@model Assignment12._1.Models.Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="" class="p-5 bg-warning text-dark">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                
                <div class="col-md p-5">
                    <h2>@Html.DisplayFor(model=>model.Name)</h2>
                    <p class="lead">
                        Product Number @Html.DisplayFor(model=>model.Id)
                    </p>
                    <h4>@Html.DisplayFor(model=>model.Category)</h4>
                    
                    <p>
                        @Html.DisplayFor(model=>model.Description)
                    </p>
                    <a href="#" class="btn btn-success mt-3"><i class="bi bi-bag-check"></i> Add To Cart</a>
                </div>

                <div class="col-md">
                    @if(Model.ImageName!=" ")
                    {
                        <img src="~/images/@Model.ImageName" alt="@Model.ImageName" class="image-fluid w-100" />
                    }
                    
                </div>
            </div>
        </div>
    </section>

<!--
<h1>Details</h1>
<div class="text-center">
    <dl class="align-middle">
        <dt>
            @Html.DisplayNameFor(model=>model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=>model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=>model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=>model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=>model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Category)
        </dd>
    </dl>
    <div style="padding:10px;">
        @if(Model.ImageName!=" ")
        {
            <img src="~/images/@Model.ImageName" alt="@Model.ImageName" height="300" />
        }
    </div>
</div>
-->
