@model Assignment12._1.Models.Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div class="text-center">
    <dl class="align-middle">
        <dt>
            @Html.DisplayNameFor(model=>model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=>model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=>model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=>model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Price)
        </dd>
    </dl>
    <div style="padding:10px;">
        @if(Model.ImageName!=" ")
        {
            <img src="~/images/@Model.ImageName" alt="@Model.ImageName" height="300" />
        }
    </div>
</div>
